body{
    margin-left: 20px;
    margin-right: 20px;
}

.return{

    display: inline;
    text-align: right;
    float: right;
    margin-right: 0px;
    background: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    color: #616161;
    margin-left: 10px;
}
.return:hover {
    background: red;
    color: white;
    cursor: pointer;
}


.header{
    margin: 20px 0 10px 0;
    padding-left: 10px;
    background: #616161;
    color: White;
    list-style: none;
    text-transform: none;
    font-weight: 300;
    font-family: "open_sansregular",sans-serif;
    line-height: 40px;
    position: relative;
    z-index: 99;
    font-size: 30px;

}


#barcode {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 75%;
    height: 65px;
    font-size: 50px;
}


#sort{

    width: 90%;
    height: 100%;
    font-size: 75px;
    text-align: center;
    COLOR: white;


}
#sort2{

    width: 90%;
    height: 100%;
    font-size: 40px;
    text-align: center;
    COLOR: white;


}
#previous{

    width: 80%;
    height: 100%;
    font-size: 24px;
    text-align: center;



}

#previous.active{
    COLOR: white;
    background: #777;
    opacity: 0.5;
}


.success{
    background-color: green;
}

.fail{
    background-color: red;
    font-size: 74px;
}
.gold{
    background-color: gold;
    font-size: 50px;
}



.bottoni{    FONT-SIZE: 22PX;
    text-align: right;}

#last{
    text-align: center;
    font-size: 19px;
    opacity: 0.5;
    background: lightgreen;
}

.selections{
    margin-bottom: 40px;
    line-height: 30px;
    background-color: #8080800d;
    padding: 10px 10px 20px;
}


.tooltip1 {
  /*  position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip1 .tooltiptext {
    visibility: hidden;
    width: 111px;
    right: 0px;
    margin-top: 10px;
    background-color: #00000042;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 8px;
    position: absolute;
    z-index: 1;
    font-size: 10px;;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip1:hover .tooltiptext {
    visibility: visible;
}

table#ventilation{
    width: 75%;
    text-align: center;
    margin-bottom: 60px;
}

table#ventilation th {
    border: 3px solid black;
    text-align: center;
}

table#ventilation tr,table#ventilation td {
    border: 1px solid black;
    text-align: center;
}

table#ventilation tr.missing{
   background-color: rgba(255, 0, 0, 0.30);
}

table#ventilation tr.found{
background-color: rgba(0, 128, 0, 0.29);
}



#return_popup {

    /* position: absolute; */
    z-index: 1000;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    /* top: 250px; */
    /* left: 50%; */
    margin: 23.75rem auto;
    background: white;
}


#popup {

    /* position: absolute; */
    z-index: 1000;
    border: 1px solid black;
    width: 600px;
    height: 200px;
    /* top: 250px; */
    /* left: 50%; */
    margin: 23.75rem auto;
    background: white;
}

.container1{
    width: 100%;
    height: 100%;
    position: relative;
}


/*    margin: 1.75rem auto;
*/
.popup-button {
    /* position: absolute; */
    bottom: 13px;
    width: 250px;
    margin-top: 45px;
    margin-left: 34px;
    /* margin: 0; */
}

input#fname {
    text-align: center;
    /* margin: 10rem; */
    margin-left: 111px;
    margin-right: auto;
    position: relative;
    margin-top: 10px;
    font-size: 30px;
}


.popup-title {
    text-align: center;
    font-size: 35px;
}


.popup-container {
     z-index: 999;

     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     /* z-index: 1050; */
     display: none;
     /* overflow: hidden; */
     outline: 0;
     background: #80808063;
 }

.popup-container-return {
    z-index: 999;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index: 1050; */
    display: none;
    /* overflow: hidden; */
    outline: 0;
    background: #80808063;
}

div#okbutton.disabled {
    opacity: 0.3;
}

.stat {
    display: inline-block;
    /* padding-right: 40px; */
    margin-top: 5px;
    border: 1px solid black;
    width: auto;
}

.stat.catcount {
    text-align: center;
    width: 66px;
}

.stat.category {
    width: 230px;
    padding-left: 3px;
}

.globalcount{
    display: inline-block;
    margin-left: 60px;
}


.found {
    animation: color 0.7s linear;
}

.complete{
    background-color: #0080007d;
}


@keyframes color {
    50% {
        background-color: rgba(0, 128, 0, 0.78);
    }
}


b.biiig{
    font-size: 24px;
}


.addv {

    font-weight: bolder;
}